/* .details-header {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 2fr 1fr;
	padding: 10px;
}

h2,
.back-link-text {
	margin: 0;
}

h2 {
	display: flex;
    justify-content: center;
	align-items: center;
}

.back-link {
    display: flex;
	align-items: center;
    font-size: 1rem;
}

.back-link a:hover {
	display: inline-block;
	background-color: black;
	color: white;
} */

.details-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: center;
}

/* -------------------------------------------------- DESKTOP STYLES */

@media screen and (min-width: 768px) {

/* .details-text {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	padding: 10px;
} */

}