.cafe-details-container {
	text-align: center;
    height: 100%;
    width: 100vw;
	background-color: rgb(216, 223, 221);
}

.details-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
