.cafes-header {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

.header-text-container {
	flex: 2;
	margin: 0;
	font-weight: bold;
	color: black;
}

.header-text,
.location-text {
	margin: 0;
}

.location-text {
	color: darkgoldenrod;
}

.filters-container,
.search-link-container {
	flex: 2;
	display: flex;
	align-items: center;
	margin: 0;
}

.filters-container {
	margin-left: 10px;
}

.search-link-container {
	justify-content: flex-end;
	margin-right: 10px;
}

.search-link-container a:hover {
	background-color: transparent;
	color: darkgoldenrod;
}

.search-icon {
	color: black;
	font-size: 1.5rem;
}

.results-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.result {
	height: 25vh;
	overflow: hidden;
}

.result-text {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 25vh;
	width: 100vw;
	padding: 0 10px;
	z-index: 1;
	line-height: 1.25;
	overflow-wrap: break-word;
	color: white;
}

.result-name {
	font-size: 2.5rem;
	font-weight: bold;
}

.result-distance {
	font-size: 1rem;
	margin: 0 1px;
}

.result-image {
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	filter: grayscale(1);
}

/* Add a dark overlay to each cafe image. */
.result-image:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

/* -------------------------------------------------- DESKTOP STYLES */

@media screen and (min-width: 768px) {
	.result-text {
		color: black;
	}

	a:hover .result-text,
	a:visited:hover .result-text {
		color: white;
	}

	.result-name {
		font-size: 4rem;
	}

	.result-distance {
		font-size: 1.5rem;
		margin: 0 3px;
	}

	.result-image {
		opacity: 40%;
	}

	.result-image:before {
		background: rgba(0, 0, 0, 0);
	}
}
